body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

header {
    background-color: #0044cc;
    padding: 20px;
    text-align: center;
}
